@model JobPortalApplication.Models.City

@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>EditCity</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId" />
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
        <select asp-for="CountryId" class="form-control" id="countrySelect">
        <option value="">--Select Country--</option>
        @foreach (var country in ViewBag.Countries)
        {
            <option value="@country.CountryId" data-countryid="@country.CountryId">@country.CountryName</option>
        }
    </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
  <select asp-for="StateId" class="form-control" id="stateSelect">
        <option value="">--Select State--</option>
        @foreach (var state in ViewBag.States)
        {
            <option value="@state.StateId" data-stateid="@state.StateId">@state.StateName</option>
        }
    </select>                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
